header {
  background: #f9f5ef;
  padding-top: 29px;
  padding-bottom: 18px; }
  @media (max-width: 767.98px) {
    header {
      text-align: center; }
      header .mb-1 {
        margin-top: 10px;
        margin-bottom: 10px !important; } }
  header .btn-gradient {
    width: 100%; }
  header .col-lg-2 svg {
    width: 208px; }
    @media (max-width: 1199px) {
      header .col-lg-2 svg {
        width: 100%; } }

.btn-gradient {
  background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
  box-shadow: 0px 2px 0px #27817B;
  border-radius: 60px;
  color: white;
  height: 50px;
  padding: 0 4px; }

button:focus {
  outline: none; }

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: none !important; }

.swiper-button-next, .swiper-button-prev {
  background: white;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  left: 3px !important; }
  .swiper-button-next:after, .swiper-button-prev:after {
    display: none; }
  .swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none !important; }

.swiper-button-next {
  transform: rotate(180deg);
  left: unset !important;
  right: 3px !important; }

.swiper-pagination {
  position: relative !important; }

.swiper-pagination-bullet {
  background: #615B57 !important;
  opacity: 1 !important;
  margin-left: 10.5px;
  margin-right: 10.5px; }

.swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%) !important; }

.nav {
  background: #f3eadf; }
  @media (max-width: 991.98px) {
    .nav {
      padding: 10px 0; } }
  .nav .navbar, .nav .navbar-collapse, .nav .navbar-nav {
    width: 100%; }
  .nav .navbar {
    padding: 0 15px; }
  .nav .navbar-expand-lg .nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
    color: #383838; }
    @media (max-width: 1199px) {
      .nav .navbar-expand-lg .nav-item {
        text-align: left;
        line-height: 20px;
        padding: 10px; } }

.about {
  background: #e6d7c6;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position-y: center;
  height: 632px; }
  @media (max-width: 500px) {
    .about {
      height: 530px; } }
  .about .label {
    margin-top: 58px;
    background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
    width: 190px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    position: relative; }
    .about .label:after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0;
      border: 15px solid transparent;
      border-right: 15px solid #e7d7c6; }
  .about h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.53); }
    @media (max-width: 500px) {
      .about h1 {
        font-size: 25px;
        line-height: 30px; } }
  .about .description {
    font-size: 16px;
    line-height: 24px;
    color: #383838;
    margin-bottom: 0; }
  .about .btn-gradient {
    margin-top: 21px;
    background: linear-gradient(90deg, #FF9E0C 0%, #FFE923 97.69%);
    box-shadow: 0px 2px 0px #A7976D;
    border-radius: 60px;
    height: 60px;
    color: #383838;
    padding-left: 81px;
    padding-right: 44px;
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    color: #383838; }
    .about .btn-gradient:before {
      content: '';
      position: absolute;
      left: 36px;
      bottom: 14px;
      width: 28px;
      height: 28px;
      background: url("../img/pencil.svg"); }
    .about .btn-gradient span {
      font-weight: bold;
      text-transform: uppercase; }

.slider {
  position: relative;
  bottom: 150px;
  height: 150px; }
  @media (max-width: 767.98px) {
    .slider {
      height: 400px; } }
  .slider .swiper-banners {
    position: relative;
    height: 300px;
    background: #0B90BD;
    border-radius: 10px; }
    .slider .swiper-banners .swiper-container {
      height: 100%; }
      .slider .swiper-banners .swiper-container .swiper-wrapper {
        height: 100%; }
    .slider .swiper-banners .swiper-button-next {
      right: -25px !important; }
      @media (max-width: 768px) {
        .slider .swiper-banners .swiper-button-next {
          right: 0 !important; } }
    .slider .swiper-banners .swiper-button-prev {
      left: -25px !important; }
      @media (max-width: 768px) {
        .slider .swiper-banners .swiper-button-prev {
          left: 0 !important; } }

.services-description h3, .services-description p {
  color: #373737; }
.services-description h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 30px; }
.services-description .description {
  font-size: 15px;
  line-height: 24px;
  height: 158px; }
  @media (max-width: 991.98px) {
    .services-description .description {
      height: auto; } }
.services-description .price {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px; }
  .services-description .price .from {
    font-size: 14px; }
.services-description .services-time {
  font-size: 15px;
  line-height: 18px; }
.services-description .btn-descr {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #6A86AF;
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  @media (max-width: 991.98px) {
    .services-description .btn-descr {
      margin-top: 20px; } }
  .services-description .btn-descr:before {
    content: '';
    position: absolute;
    background: url("../img/info.svg");
    height: 26px;
    width: 26px;
    left: 0; }
    @media (max-width: 1199px) {
      .services-description .btn-descr:before {
        left: 7px; } }
.services-description .btn-gradient {
  width: 225px;
  height: 50px;
  padding: 1px; }
  .services-description .btn-gradient:hover, .services-description .btn-gradient:focus {
    text-decoration: none; }
    .services-description .btn-gradient:hover div, .services-description .btn-gradient:focus div {
      background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%); }
      .services-description .btn-gradient:hover div span, .services-description .btn-gradient:focus div span {
        background: white;
        color: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  .services-description .btn-gradient div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50px;
    width: 221px;
    height: 48px; }
    .services-description .btn-gradient div span {
      font-size: 13px;
      background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
      color: #0fb5f3;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
.services-description .services-time {
  font-size: 15px;
  line-height: 18px;
  margin-top: 20px; }

.swiper-services .swiper-container {
  border-radius: 6px; }
.swiper-services .swiper-button-prev {
  bottom: 13px !important;
  left: 28px !important;
  top: unset;
  right: unset; }
  @media (min-width: 768px) {
    .swiper-services .swiper-button-prev {
      bottom: 33px !important; } }
.swiper-services .swiper-button-next {
  bottom: 13px !important;
  left: 88px !important;
  top: unset;
  right: unset; }
  @media (min-width: 768px) {
    .swiper-services .swiper-button-next {
      bottom: 33px !important; } }
.swiper-services .swiper-button-disabled {
  opacity: 1 !important;
  background: none !important; }
.swiper-services .swiper-pagination {
  position: absolute !important;
  bottom: 27px !important;
  left: 150px !important;
  top: unset;
  right: unset;
  z-index: 100; }
  @media (min-width: 768px) {
    .swiper-services .swiper-pagination {
      bottom: 45px !important; } }

.services {
  margin-bottom: 15px;
  overflow: hidden; }
  @media (max-width: 500px) {
    .services {
      text-align: center; } }
  .services .container {
    position: relative; }
    .services .container:before {
      content: '';
      position: absolute;
      top: 0;
      box-shadow: inset -300px 0px 300px -3px rgba(255, 255, 255, 0.64);
      height: 100%;
      width: 400px;
      right: -400px;
      z-index: 20; }
  .services h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #383838;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 80px; }
  .services .col-lg-4 {
    z-index: 100;
    background: white;
    position: relative;
    margin-bottom: 102px; }
    @media (max-width: 991.98px) {
      .services .col-lg-4 {
        margin-bottom: 0; } }
    .services .col-lg-4:before {
      content: '';
      position: absolute;
      background: white;
      height: 100%;
      width: 10000px;
      right: 0;
      top: 0;
      z-index: -1; }
  .services .col-lg-8 {
    z-index: 10;
    margin-bottom: 102px;
    position: relative; }
  .services .services-description .btn-gradient {
    margin-bottom: 13px; }
  .services .swiper-services .swiper-container {
    overflow: visible !important; }
  .services .swiper-services .swiper-slide img {
    width: 100%;
    max-height: 331px;
    border-right: 6px; }
  .services .swiper-services .swiper-button-prev {
    box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42); }
  .services .swiper-services .swiper-button-next {
    box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42); }
  .services .swiper-services .swiper-button-disabled {
    box-shadow: none; }

@media (max-width: 500px) {
  .more-services {
    text-align: center; } }
.more-services .more-services-slider, .more-services .services-description {
  margin-bottom: 60px; }
@media (max-width: 991.98px) {
  .more-services .more-services-slider img {
    width: 100%; } }

.photo-printing {
  top: 55px;
  position: relative;
  background: url("../img/photo-printing.png"); }
  @media (max-width: 500px) {
    .photo-printing {
      text-align: center; } }
  .photo-printing .col-lg-7 {
    position: relative;
    background: white;
    margin-top: 93px;
    margin-bottom: 117px;
    padding: 73px 111px 59px 57px;
    box-shadow: 0px 4px 20px rgba(116, 131, 148, 0.35);
    border-radius: 10px; }
    @media (max-width: 500px) {
      .photo-printing .col-lg-7 {
        padding: 20px; } }
    .photo-printing .col-lg-7 h2 {
      font-weight: bold;
      font-size: 26px;
      line-height: 31px;
      color: #383838; }
    .photo-printing .col-lg-7 p {
      font-size: 15px;
      line-height: 24px;
      color: #615B57; }
    .photo-printing .col-lg-7 .btn-gradient {
      margin-top: 21px;
      background: linear-gradient(90deg, #FF9E0C 0%, #FFE923 97.69%);
      box-shadow: 0px 2px 0px #A7976D;
      border-radius: 60px;
      height: 50px;
      color: #383838;
      padding: 0 40px;
      text-align: left;
      font-size: 14px;
      line-height: 15px;
      color: #383838; }
    .photo-printing .col-lg-7 .plus-icon {
      position: absolute;
      right: -33.5px;
      top: 67px;
      width: 67px;
      height: 67px;
      background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
      border-radius: 50%;
      animation-delay: .6s; }
      @media (max-width: 991.98px) {
        .photo-printing .col-lg-7 .plus-icon {
          display: none !important; } }
      .photo-printing .col-lg-7 .plus-icon:before {
        animation: pulse 2s infinite ease-in-out;
        animation-delay: .6s;
        border: 10px solid rgba(134, 152, 151, 0.88);
        border-radius: 100%;
        bottom: 0;
        content: '';
        height: 87px;
        left: 50%;
        margin: auto 0 auto -43.5px;
        opacity: .5;
        position: absolute;
        top: 0;
        width: 87px; }

.advantages {
  position: relative;
  height: 513px;
  background-image: url("../img/sect-order-bg-1.svg");
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 1; }
  @media (max-width: 999.98px) {
    .advantages {
      height: auto;
      background-size: cover;
      background-repeat: no-repeat; } }
  @media (max-width: 767.98px) {
    .advantages {
      text-align: center; }
      .advantages .col-lg-9 .row, .advantages .col-lg-9 .col-lg-4, .advantages .col-lg-9 .col-lg-8 {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%; }
      .advantages .col-lg-9 .col-lg-8 {
        margin: 15px 0 !important; } }
  .advantages:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 475px;
    height: 475px;
    background-image: url("../img/after.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }
    @media (max-width: 767.98px) {
      .advantages:after {
        display: none; } }
  .advantages:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 700px;
    background-image: url(../img/before.png);
    background-size: 420px;
    background-position-y: -30px;
    background-position-x: right;
    background-repeat: no-repeat;
    z-index: -1; }
    @media (max-width: 1199.98px) {
      .advantages:before {
        top: inherit;
        bottom: -150px;
        width: 350px;
        height: 400px;
        background-image: url(../img/before.png);
        background-size: 220px;
        background-position-y: -30px;
        background-position-x: right;
        background-repeat: no-repeat;
        z-index: -1; } }
    @media (max-width: 500px) {
      .advantages:before {
        display: none; } }
  .advantages h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px; }
    .advantages h2 span {
      font-weight: normal; }
  .advantages .col-lg-4 span {
    font-weight: bold; }
  .advantages .btn-gradient {
    position: relative;
    margin-top: 21px;
    background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
    border-radius: 60px;
    height: 60px;
    padding-left: 81px;
    padding-right: 44px;
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase; }
    .advantages .btn-gradient:before {
      content: '';
      position: absolute;
      left: 36px;
      bottom: 14px;
      width: 28px;
      height: 28px;
      background: url("../img/pencil_white.svg"); }
    .advantages .btn-gradient span {
      font-weight: bold; }

.partners {
  padding-top: 57px;
  padding-bottom: 75px; }
  .partners .swiper-partners {
    position: relative; }
    .partners .swiper-partners .swiper-button-next, .partners .swiper-partners .swiper-button-prev {
      box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42);
      border-radius: 50px; }
    .partners .swiper-partners .swiper-button-next {
      right: -25px !important; }
      @media (max-width: 768px) {
        .partners .swiper-partners .swiper-button-next {
          right: 0 !important; } }
    .partners .swiper-partners .swiper-button-prev {
      left: -25px !important; }
      @media (max-width: 768px) {
        .partners .swiper-partners .swiper-button-prev {
          left: 0 !important; } }
    .partners .swiper-partners .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center; }
  .partners h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #1F1F29;
    width: 700px; }
    .partners h2 span {
      font-weight: normal; }

.feedback {
  background: url("../img/feedback_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 577px;
  z-index: 1;
  position: relative; }
  .feedback:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }
  .feedback .bg-gradient {
    padding: 6px;
    margin-top: 47px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%);
    border-radius: 15px; }
  .feedback .bg-body {
    background: #F8FAFD;
    border-radius: 10px; }
    .feedback .bg-body:before {
      content: '';
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 570px;
      height: 500px;
      background: url(../img/feedback_man.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      @media (max-width: 1199px) {
        .feedback .bg-body:before {
          width: 401px;
          height: 353px; } }
      @media (max-width: 767px) {
        .feedback .bg-body:before {
          display: none; } }
    .feedback .bg-body .body {
      padding-top: 52px;
      padding-left: 70px;
      padding-bottom: 60px; }
      @media (max-width: 991.98px) {
        .feedback .bg-body .body {
          padding: 40px; } }
    .feedback .bg-body .btn-gradient {
      width: 100%; }
      @media (max-width: 991.98px) {
        .feedback .bg-body .btn-gradient {
          width: 432px; } }
      @media (max-width: 767px) {
        .feedback .bg-body .btn-gradient {
          width: 100%; } }
    .feedback .bg-body .or {
      font-size: 13px;
      line-height: 16px;
      color: rgba(70, 57, 24, 0.6); }
    .feedback .bg-body .form-check {
      margin-top: 21px; }
      .feedback .bg-body .form-check label {
        font-size: 11px;
        line-height: 16px;
        color: #738093; }
  .feedback h2 {
    width: 80%;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #383838; }
  .feedback p {
    font-size: 14px;
    line-height: 16px;
    color: #383838;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .feedback p {
        margin: 15px 0 !important; } }
  .feedback .form-control {
    background: #FFFFFF;
    border: 1px solid rgba(92, 121, 162, 0.15);
    border-radius: 60px;
    height: 50px;
    width: 432px;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .feedback .form-control {
        width: 100%; } }

.contacts {
  position: relative;
  height: 560px; }
  @media (max-width: 500px) {
    .contacts {
      text-align: center;
      height: auto; } }
  .contacts .container {
    z-index: 1; }
  .contacts .contacts-body {
    background: white;
    border-radius: 10px;
    z-index: 1;
    margin-top: 100px;
    padding: 51px 33px 59px 67px; }
    @media (max-width: 500px) {
      .contacts .contacts-body {
        padding: 20px; } }
    .contacts .contacts-body h2 {
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      margin-bottom: 27px; }
    .contacts .contacts-body .phone {
      font-weight: bold; }
    .contacts .contacts-body .time-feedback {
      padding-left: 22px;
      font-size: 13px;
      line-height: 16px;
      color: rgba(70, 57, 24, 0.6); }
    .contacts .contacts-body .inn {
      margin-left: 9px;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.44); }
  .contacts #map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 560px; }
    @media (max-width: 500px) {
      .contacts #map {
        position: relative;
        height: 400px; } }

footer {
  display: flex;
  align-items: center;
  height: 136px;
  background: linear-gradient(90deg, #0B90BD 0%, #3FB8B1 97.69%); }
  @media (max-width: 767px) {
    footer {
      height: auto; } }
  @media (max-width: 767px) {
    footer .row {
      padding: 25px 0; } }
  footer svg {
    width: 200px;
    height: 63px; }
  footer a {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF; }
    footer a:hover {
      color: #383838;
      text-decoration: none; }
  @media (max-width: 767px) {
    footer .col-md-3 {
      display: flex;
      justify-content: space-between; } }
  @media (max-width: 500px) {
    footer .col-md-3 {
      flex-wrap: wrap;
      justify-content: center; }
      footer .col-md-3 a {
        width: 100%;
        text-align: center; } }

.modal .form-control {
  background: #FFFFFF;
  border: 1px solid rgba(92, 121, 162, 0.15);
  border-radius: 60px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px; }
.modal .btn-gradient {
  min-width: 180px; }

@keyframes pulse {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
